* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik');

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0px;
  font-size:16px;
  line-height: 1.5;
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/confectionary.png") repeat;
  color: rgb(10, 10, 10);
  overflow: auto;
}

.container {
  border-radius: 5px;
  background: rgba(107, 101, 101, 0.3);
  width: 70%;
  padding: 20px;
  margin: 0 auto;
  margin-top: 30px;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 30px;
}

input[type=text], input[type=url], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  resize: vertical;
}

select#report-type {
  font-size: 16px;
}

input[type=file] {
  font-size: 16px;
  margin-top: 6px;
}

textarea {
  height: 200px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#submit-btn, #cancel-btn {
  width: 90px;
  height: 35px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 30px;
  transition: all 0.5s;
}

#submit-btn {
  border-radius: 1.5px;
  background-color: #4caf50;
  margin-left: 40%;
}

#submit-btn:hover {
  background-color: #378b3b;
}

#cancel-btn {
  border-radius: 1.5px;
  background: #2b2929;
  margin-left: 5%;
}

#cancel-btn:hover {
  background-color: #5c5757;
}

.left {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.right {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background: #333;
  text-align: center;
  font-size: 17px;
  max-width: 100%;
  margin-top: 25px;
  padding: 20px;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .left, .right {
      width: 100%;
      margin-top: 0;
  }
  .container {
    width: 100%;
  }
}

