* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik');

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/confectionary.png") repeat;
}

.container  {
  width: 95%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.row {
  margin-top: 50px;
}

.row h1 {
  font-size: 35px;
  color: #d14f1cf8
}

.column {
  float: left;
  padding: 10px;
}

.left {
width: 23%;
background: rgba(107, 101, 101, 0.2);
}

.left {
  margin: 0 20px 0 8%;
}



.middle {
width: 50%;
    
background-color: rgba(107, 101, 101, 0.3);
margin-bottom: 20px;
}

#box {
  margin: 0 ;
}

.row #info {
  text-align: left;
  margin-left: 20px;
}

.row #info p {
  font-size: 16px;
}

.title {
  font-weight: bold;
    text-decoration: underline;
}


#right-box {
  margin-top: 35px;
}

button {
  width: 60%;
  height: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  background: #25364b;
  border: none;
  transition: all 0.5s;
}


a {
  text-decoration: none;
  color: #fff;
  transition: all 0.6s;
}

a:hover {
  font-weight: bold;
}


#left {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  font-size: 17px;
  margin-left: 20px;
}

.action {
  display: flex;
  float: right;
}

.action p {
  margin: 0 10px;
}

.action p a {
  color: #0000ff;
}

#delete {
  cursor: pointer;
  color: #ff0000;
}

#status.approved {
  color: #008000;
}

#status.rejected {
  color: #ff0000;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


h1 {
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
  padding: 0px;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

#grid li  {
  list-style: none;
  text-align: justify;
  padding:20px 40px 20px 40px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#fff5f5;
  margin: 0 30px 20px 0;
}


/* modal creation  */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 85%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content{
    background-color: #f4f4f4;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    width: 85%;
    height: 90%;
    overflow: auto;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalpost;
    animation-duration: .5s;
}

.modalBtn{
    width: 20%;
    color: #001cbb;
    border: none;
    padding: 0;
    background-color: #ffffff;
}
.closeBtn{
    color: #ccc;
    float: right;
    font-size: 50px;
}
.closeBtn:hover, .closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalpost{
    from{opacity: 0}
    to{opacity: 1}
}

#grid h2 {
  color: #1818a088;
  text-align: left
}

footer {
  background: #333;
  padding: 20px;;
  color: #f4f4f4;
  font-size: 17px;
}

@media screen and (max-width: 700px) {
  .column {
    width: 100%;
}

.left, .right {
  margin: 5px;
  width: 100%;
}

  button {
    width: 30%;
  }
  .modal-content{
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalpost;
    animation-duration: .5s;
}
}