* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik');

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

#wrap {
  margin: 20px;
}

#img {
  width: 300px;
  float: left;
}

#entry-table, #record-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: justify;
}

#entry-table th {
  background-color: #209bb1;
  color: #ffff;
  padding: 10px 5px;
}

#entry-table td {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

#entry-table tr {
  background-color: #a5d4b7;
}

#record h2 {
  text-align: center;
  margin-top: 100%;
}

#record-table th {
  background-color: #54912c;
  color: #ffff;
  padding: 10px 5px;
}

#record-table td {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

#record-table tr {
  background-color: #c9c8cf;
}

#record-btn {
  width: 100px;
  height: 40px;
  font-size: 17px;
  background-color: #c55311;
  color: #ffff;
  border: none;
  cursor: pointer;
  float: right;
  margin-bottom: 20px;
  transition: all 0.5s;
}

#dashboard-btn {
  width: 100px;
  height: 40px;
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #086ff5;
}

#record-btn:hover {
  background-color: #558657;
}

#update-btn {
  width: 90px;
  height: 35px;
  border: none;
  background-color: #3b3b3b;
  color: #ffff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  float: right;
  transition: all 0.5s;
}

#update-btn:hover {
  background-color: #378b3b;
}

.footer {
  background: #333;
  text-align: center;
  font-size: 15px;
  max-width: 100%;
  margin-top: 25px;
  padding: 10px;
}