@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik');

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
  background: #808080b2;
}

#grid h2 #author {
  font-size: 12px;
  color: #ff7b00;
}

#grid h2 #time {
  font-size: 12px;
  color: #443a31;
}

.container  {
  width: 85%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.main {
  width: 70%;
  margin: auto;  
}

h1 {
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
  padding: 0px;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

#grid li  {
  list-style: none;
  text-align: justify;
  padding:20px 40px 20px 40px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#fff5f5;
  margin: 20px 0 20px 0;
}

#grid h2 {
  color: #1818a088;
  text-align: left
}


footer {
  background: #333;
  padding: 20px;
}
