body {
  background: url(../img/image\ 3.jpg) no-repeat center/cover;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

h2 {
  margin: 0;
  font-size: 20px;
  color: #0e0d0d
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.reset {
  background: rgba(107, 101, 101, 0.3);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 20px;
  padding-top: 20px;
}

.reset form {
  width: 60%;
  padding-bottom: 30px;
}

.reset .logo {
  margin-bottom: 5vh;
}

.reset.logo img {
  width: 300px;
}

.reset label {
  font-size: 18px;
  line-height: 2;
}

.reset .text-input {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 1.5px;
  background: #fff;
  border: 1px solid #555;
  color: #0e0d0d;
  padding: 5px 10px;
  line-height: 2;
}

.reset .reset-btn {
  width: 100%;
  font-size: 15px;
}

.reset .register-btn, .or, .links {
  width: 60%;
}

.links {
  display: block;
  color: #fff;
  text-decoration: underline;
  margin-bottom: 30px;
  text-align: center;
  font-size: 15px;
}

.links a:hover {
  color: #00ffdd;
}



.footer {
  color: #000000;
  text-align: center;
  font-size: 15px;
  max-width: 80%;
  padding-top: 20px;
}

.footer a {
  color: #030303;
  text-decoration: none;
}

.footer a:hover {
  background: #1b97d1;
}

.reset-btn {
  padding: 5px 10px;
  height: 35px;
  display: block;
  border: 0;
  border-radius: 1.5px;
  background: #163ce6d2;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.reset-btn:hover {
  background: #39b6ff;
}



@media (min-width: 0px) and (max-width: 680px) {
  .reset {
    width: 90%;
    margin: 5px;
  }
  .reset form {
    width: 100%;
  }

  .reset .register-btn, .or, .links {
    width: 100%;
  }
  .footer {
    max-width: 100%;
  }
  
}